.popup__title {
  margin: 34px 36px 44px;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}


@media (max-width: 800px) {

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 72px;
  }

}