.popup__button {
  background: #000;
  color: #fff;
  border: none;
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 2px;
  padding: 0;
  margin-top: 24px;
}

.popup__button:hover {
  transition: 0.5s ease;
  background: rgba(0, 0, 0, .8);
}


@media (max-width: 800px) {

  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16px;
  }

}