.profile__avatar {
  border-radius: 50%;
  margin-right: 30px;
  height: 120px;
  width: 120px;
  background-position: 50%;
  background-size: cover;
}





@media (max-width: 800px) {

  .profile__avatar {
    margin-bottom: 26px;
    margin-right: 0;
  }

}

