.header {
  max-width: 880px;
  min-width: 320px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  display: flex;
  box-sizing: border-box;
  
}


@media (max-width: 800px) {

  .header {
    max-width: 320px;
    margin-top: 28px;
    margin-bottom: 42px;
    padding-bottom: 31px;
  }

}